.orders_container {
  padding-left: 20px;
}

.lists {
  list-style: none;
  height: 270px;
  overflow-y: scroll;
  margin-right: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Set the background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #b1adad; /* Set the color of the scrollbar thumb */
  border-radius: 10px; /* Apply rounded corners to the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a39d9d; /* Set the color of the scrollbar thumb on hover */
}

.body_container::-webkit-scrollbar {
  display: none;
}
.lists_container {
}

.orders_container li {
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #eadcdc;
  padding: 10px;
  border-radius: 5px;
  display: flex;
}
.orders_container li p {
  padding-left: 15px;
}

.container h1 {
  align-items: center;
  display: flex;
  justify-content: center;
}
.body_container {
  overflow-y: none;
}

.body_container_man {
  margin-top: 185px;
}

.inputsearch {
  margin: 10px;
  background-color: #eadcdc;
  padding: 12px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;

  width: auto;
}

.inputsearch div {
  font-weight: 600;
  font-size: 15px;
}
.inputsearch input {
  padding-left: 5px;
  margin-left: 10px;
  outline: none;
  border: none;
}
.btn {
  padding: 5px 20px 5px 20px;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 733px;
}
.messages_container {
}

.messages_container li {
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #eadcdc;
  padding: 10px;
  border-radius: 5px;
  display: flex;
}
.messages_container li p {
  padding-left: 15px;
}
.container_home {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.container_form button {
  width: 369px;
  margin: 15px;

  padding: 14px;
  background-color: rgba(221, 29, 29, 0.05);
  border-radius: 20px;
  color: #000000;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.container_form div {
  /* width: 300px; */
}
.manf_send_section {
  width: 400px;
}
.header_section_home {
  display: flex;
  flex-direction: column;
}

.container_section {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 10px;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.container_form input {
  padding: 10px;
  padding-left: 15px;
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow: 0px 8px 5px 2px rgba(221, 29, 29, 0.05);
}

.container_form select {
  padding: 3px;
  padding-left: 15px;
  border-radius: 20px;
  border: none;
  outline: none;
}
.inputheading {
  padding-left: 10px;
}

#mySelect {
  padding: 10px;
  box-shadow: 0px 8px 5px 2px rgba(221, 29, 29, 0.05);
}

.btn_logout {
  color: #000000;
  font-weight: 600;
  background-color: rgba(221, 29, 29, 0.05);
  border: 1px solid rgb(194, 187, 187);
  border-radius: 50px;
  width: 150px;
  font-weight: 600;
  cursor: pointer;
  top: 10px;
  left: 1200px;
  outline: none;
}
.header {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-left: 82px;
}
.header h2 {
  display: flex;
  font-size: 24px;
  position: sticky;
  z-index: 999;
  justify-content: center;
  padding-top: 9px;
}

.header button {
  margin-top: 7px;
  margin-left: 20px;
  font-size: 15px;
}

.btn_logout_trans {
  color: #000000;
  font-weight: 600;
  height: 43px;
  background-color: rgba(221, 29, 29, 0.05);
  border: 1px solid rgb(194, 187, 187);
  border-radius: 50px;
  width: 150px;
  font-weight: 600;
  cursor: pointer;
  position: sticky;
  top: 13px;
  outline: none;
}

.lists_trans {
  list-style: none;
  height: 450px;
  overflow-y: scroll;
}

.ordersheadingtrans {
  font-size: 30 px;
  font-weight: bold;
  padding: 0px 10px 10px 5px;
}

/* .orders_container h2 {
  position: fixed;
  top: 100px;
  left: 739px;
  margin-top: 10px;
} */
@media (max-width: 765px) {
  .container_form button {
    width: 308px;
    margin: 15px;
    padding: 14px;
    background-color: rgba(221, 29, 29, 0.05);
    border-radius: 20px;
    color: #000000;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  .header {
    display: flex;
    width: 94%;
    margin-left: 13px;
  }
  .header h2 {
    display: flex;
    font-size: 13px;
    position: sticky;
    z-index: 999;
    justify-content: center;
    padding-top: 6px;
  }
  .header button {
    margin-top: 7px;
    margin-left: 5px;
    font-size: 10px;
  }

  #header_section_Trans h2 {
    font-size: 20px;
    margin-top: 5px;
  }
  #header_section_Trans button {
    font-size: 13px;
    width: 90px;
    height: 26px;
  }
  .btn_logout {
    color: #000000;
    font-weight: 600;
    background-color: rgba(221, 29, 29, 0.05);
    border: 1px solid rgb(194, 187, 187);
    border-radius: 50px;
    width: 85px;
    font-weight: 600;
    cursor: pointer;

    outline: none;
  }
  .inputsearch {
    margin: 10px;
    background-color: #eadcdc;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    width: auto;
  }
  .inputsearch div {
    font-weight: 600;
    font-size: 12px;
  }
  .inputsearch input {
    padding-left: 5px;
    margin-left: 4px;
    outline: none;
    border: none;
    width: 63px;
    font-size: 9px;
  }
  .messages_container {
    margin-left: 20px;
    width: 90%;
  }
  .messages_container li {
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #eadcdc;
    padding: 1px;
    border-radius: 5px;
    display: flex;
    font-size: 12px;
  }
  .lists {
    list-style: none;
    height: 243px;
    overflow-y: scroll;
  }
  .container_form div {
    width: 336px;
  }
}
@media (max-width: 662px) {
  .container_section {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 10px;
    flex-direction: column;
  }
  .container_home {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
  }
  .manf_send_section {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .lists {
    list-style: none;
    height: 243px;
    overflow-y: scroll;
    margin-right: 0px;
  }
}

@media (max-width: 343px) {
  .manf_send_section {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .container_form div {
    width: 221px;
  }
  .input-box {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }

  .container_form button {
    width: 203px;
    margin: 15px;
    padding: 14px;
    background-color: rgba(221, 29, 29, 0.05);
    border-radius: 20px;
    color: #000000;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  #header_section_Trans h2 {
    font-size: 16px;
    margin-top: 11px;
  }
  #header_section_Trans button {
    font-size: 13px;
    width: 90px;
    margin-top: 16px;
  }
}

@media (max-width: 280px) {
  .manf_send_section {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .container_form div {
    width: 221px;
  }
  .input-box {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }

  .container_form button {
    width: 203px;
    margin: 15px;
    padding: 14px;
    background-color: rgba(221, 29, 29, 0.05);
    border-radius: 20px;
    color: #000000;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  #header_section_Trans h2 {
    font-size: 16px;
    margin-top: 11px;
  }
  #header_section_Trans button {
    font-size: 13px;
    width: 90px;
    margin-top: 24px;
  }
}
